@use "../../../scss/util/" as u;

.itemCard {
  border-bottom: solid;
  border-color: var(--subtle-color);
  display: flex;
  justify-content: space-between;
  margin-bottom: u.rem(10);

  &__description {
    width: 40%;
    &__name {
      font-weight: 600;
      color: var(--subtext-color);
    }
    &__description {
      font-size: u.rem(14);
    }
    &__price {
      margin-bottom: u.rem(1);
      font-size: u.rem(15);
      font-weight: 600;
    }

    &__star {
      color: var(--star-color);
    }
    &__rating {
      font-size: u.rem(14);
      font-weight: 600;
      color: var(--tag-color);
    }
    &__ratingCount {
      color: var(--subtext-color);
      font-size: small;
      font-weight: 600;
    }
  }

  &__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    img {
      margin-top: u.rem(100);
      margin-left: u.rem(10);
      width: u.rem(200);
      height: 50%;
      border-radius: 20%;
    }

    &__buttonImg {
      margin-top: u.rem(100);
      margin-left: u.rem(10);
      width: 20%;
      height: u.rem(28);
      color: white;
      background-color: var(--tag-color);
      border: none;
      font-weight: 600;
      border-radius: 20%;
      position: absolute;

      &:hover {
        background-color: var(--tag-color-hover);
      }
    }

    &__button {
      width: 50%;
      height: u.rem(38);
      color: white;
      background-color: var(--tag-color);
      border: none;
      font-weight: 600;
      border-radius: 20%;
      right: 0;
      margin-right: u.rem(40);
      margin-top: u.rem(15);
      &:hover {
        background-color: var(--tag-color-hover);
      }
    }
  }
  @include u.breakpoint(medium) {
    &__image {
      img {
        width: u.rem(200);
        margin-top: u.rem(10);
        width: u.rem(200);
        height: 85%;
        border-radius: 20%;
      }
      &__buttonImg {
        margin-top: u.rem(10);
        width: 6%;
      }
      &__button {
        width: 15%;
        margin-right: u.rem(100);
      }
    }
  }
}
