:root {
  --background-color: hsl(0, 0, 100%);
  --text-color: hsl(36, 16%, 6%);
  --subtext-color: hsl(0, 0%, 40%);
  --button-color: hsl(360, 92%, 68%);
  --select-color: hsl(1, 92%, 91%);
  --tag-color: hsl(146, 64%, 36%);
  --star-color: hsl(47, 89%, 56%);
}
